# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Temp & Output
gradio_tmp/
output/
*.swp
*.npy

# Large model files
pretrained_models/
.DS_Store
